{% embed "@nds/02-molecules/navigation/navigation-primary/_navigation-primary-main.twig" with
    {
        "navigation_primary_id": "main-navigation"
    }
%}
    {% block navigation_primary_content %}
        <div class="navigation--primary__inner">
            <div class="navigation--primary__inner__item">
                {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                    {
                        "navigation_dropdown_id": "dMenuGettingStarted",
                        "navigation_dropdown_active_class": navigationPrimaryActiveLink == "get-started" ? "active" : "",
                        "navigation_dropdown_toggle_text": "Getting Started",
                        "navigation_dropdown_toggle_href": links.getStarted,
                        "navigation_dropdown_toggle_aria_label": "Open Getting Started Section"
                    }
                %}
                    {% block navigation_dropdown_content %}
                        <a href="{{ links.getStarted ~ '#section-quick-start' }}">Quick Start</a>
                        <a href="{{ links.getStarted ~ '#section-static-site-builder' }}">Static Site Builder</a>
                        <a href="{{ links.getStarted ~ '#section-nds-drupal-theme' }}">NDS Drupal Theme</a>
                        <a href="{{ links.getStarted ~ '#section-resources' }}">Resources</a>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="navigation--primary__inner__item">
                {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                    {
                        "navigation_dropdown_id": "dMenuDesign",
                        "navigation_dropdown_active_class": navigationPrimaryActiveLink == "design" ? "active" : "",
                        "navigation_dropdown_toggle_text": "Design",
                        "navigation_dropdown_toggle_href": links.design,
                        "navigation_dropdown_toggle_aria_label": "Open Design Section"
                    }
                %}
                    {% block navigation_dropdown_content %}
                        <a href="{{ links.design ~ '#section-typography' }}">Typography</a>
                        <a href="{{ links.design ~ '#section-icons' }}">Icons</a>
                        <a href="{{ links.design ~ '#section-colors' }}">Colors</a>
                        <a href="{{ links.design ~ '#section-forms' }}">Forms &amp; Input</a>
                        <a href="{{ links.design ~ '#section-layout' }}">Layout &amp; Spacing</a>
                        <a href="{{ links.design ~ '#section-shadows' }}">Shadows</a>
                        <a href="{{ links.design ~ '#section-corners' }}">Corners</a>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="navigation--primary__inner__item">
                {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                    {
                        "navigation_dropdown_id": "dMenuDevelopment",
                        "navigation_dropdown_active_class": navigationPrimaryActiveLink == "development" ? "active" : "",
                        "navigation_dropdown_toggle_text": "Development",
                        "navigation_dropdown_toggle_href": links.development,
                        "navigation_dropdown_toggle_aria_label": "Open Development Section"
                    }
                %}
                    {% block navigation_dropdown_content %}
                        <a href="{{ links.development ~ '#section-atomic-design' }}">Atomic Design</a>
                        <a href="{{ links.development ~ '#section-technologies' }}">Technologies &amp; Frameworks</a>
                        <a href="{{ links.development ~ '#section-libraries' }}">Libraries</a>
                        <a href="{{ links.development ~ '#section-themes' }}">Themes</a>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="navigation--primary__inner__item">
                {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                    {
                        "navigation_dropdown_id": "dMenuComponents",
                        "navigation_dropdown_active_class": navigationPrimaryActiveLink == "components" ? "active" : "",
                        "navigation_dropdown_toggle_text": "Components",
                        "navigation_dropdown_toggle_href": links.components,
                        "navigation_dropdown_toggle_aria_label": "Open Component Section"
                    }
                %}
                    {% block navigation_dropdown_content %}
                        <a href="{{ links.components ~ '#section-components-atoms' }}">Atoms</a>
                        <a href="{{ links.components ~ '#section-components-molecules' }}">Molecules</a>
                        <a href="{{ links.components ~ '#section-components-organisms' }}">Organisms</a>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="navigation--primary__inner__item">
                <a class="{{ navigationPrimaryActiveLink == "builder" ? "active" : "" }}" href="{{ links.themeBuilder }}">Theme Builder</a>
            </div>
        </div>
    {% endblock %}
{% endembed %}