{% embed "@nds/02-molecules/navigation/navigation-primary/_navigation-primary-main.twig" with
    {
        "navigation_primary_id": "main-navigation"
    }
%}
    {% block navigation_primary_content %}
        <div class="navigation--primary__inner">
            <div class="navigation--primary__inner__item">
                <button data-display="static" type="button" class="{{ navigationPrimaryActiveLink == "get-started" ? "active" : "" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Getting Started
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ link.getStarted }}">Overview</a>
                    <a class="dropdown-item" href="{{ link.getStarted ~ '##section-static-website' }}">Building a Static Site</a>
                    <a class="dropdown-item" href="{{ link.getStarted ~ '##section-drupal-website' }}">Building a Drupal Site</a>
                    <a class="dropdown-item" href="{{ link.getStarted ~ '#section-resources' }}">Resources</a>
                </div>
            </div>
            <div class="navigation--primary__inner__item">
                <button data-display="static" type="button" class="{{ navigationPrimaryActiveLink == "design" ? "active" : "" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Design
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ link.design }}">Overview</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-typography' }}">Typography</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-icons' }}">Icons</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-colors' }}">Colors</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-forms' }}">Forms &amp; Input</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-layout' }}">Layout &amp; Spacing</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-shadows' }}">Shadows</a>
                    <a class="dropdown-item" href="{{ link.design ~ '#section-corners' }}">Corners</a>
                </div>
            </div>
            <div class="navigation--primary__inner__item">
                <button data-display="static" type="button" class="{{ navigationPrimaryActiveLink == "development" ? "active" : "" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Development
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ link.development }}">Overview</a>
                    <a class="dropdown-item" href="{{ link.development ~ '#section-atomic-design' }}">Atomic Design</a>
                    <a class="dropdown-item" href="{{ link.development ~ '#section-libraries' }}">Libraries</a>
                    <a class="dropdown-item" href="{{ link.development ~ '#section-technologies' }}">Technologies &amp; Frameworks</a>
                    <a class="dropdown-item" href="{{ link.development ~ '#section-themes' }}">Themes</a>
                </div>
            </div>
            <div class="navigation--primary__inner__item">
                <a href="{{ link.components }}">Components</a>
            </div>
            <div class="navigation--primary__inner__item">
                <a class="{{ navigationPrimaryActiveLink == "builder" ? "active" : "" }}" href="{{ link.themeBuilder }}">Theme Builder</a>
            </div>
        </div>
    {% endblock %}
{% endembed %}