{#
    ---
    title: Navigation Tabs
    ---

    Type: Molecules -> Navigation

    Description:
        The Navigation Tabs component is used to move between sections of a single page or across several different pages. The active tab has the class "active."

    Blocks:
        {% block navigation_tabs_content %}: The block holding the markup for the tabs.

    Parameters:
        navigation_tabs_classes: Additional classes for the navigation component.
        navigation_tabs_data: An array of tab objects. Structure: {"text": "", "href": "", "class": "", "attributes": ""}. The "href" key can be empty. Use the "class" key to pass "active" to the active tab.
        navigation_tabs_attributes: Optional attributes for the tabs <nav> element.

    Last Updated: March 23, 2021
#}

{% set navigation_tabs_classes = navigation_tabs_classes|default() %}
{% set navigation_tabs_data = navigation_tabs_data|default() %}
{% set navigation_tabs_attributes = navigation_tabs_attributes|default() %}

<nav class="navigation-nds navigation--tabs {{ navigation_tabs_classes }}" {{ navigation_tabs_attributes|raw }}>
    {% block navigation_tabs_content %}
        {% for tab in navigation_tabs_data %}
            <a class="navigation--tabs__tab {{ tab.class }}"{% if tab.href is not empty %} href="{{ tab.href }}"{% endif %} {{ tab.attributes|raw }}>{{ tab.text }}</a>
        {% endfor %}
    {% endblock %}
</nav>