{#
   ---
   title: Icon Default
   ---

   Type: Atoms -> Icons

   Description:
      NDS uses the Font Awesome library for all icons (with the exception of third-party applications and companies). In Font Awesome icons are selected using classes. The specific icon is selected with fa- class (e.g. fa-envelope). The style or weight of the icon is also specified using classes. The following icon weights and corresponding classes are available under the Font Awesome Free version:

         Solid - fas
         Brands - fab
         Regular - fa/far
     
      If you have access to Font Awesome Pro, a "Light" icon style (fal) and a Duotone icon style (fad) are also supported.

      NDS makes using Font Awesome icons easy through its icon-default pattern. This pattern has two key parameters: icon_default_type and icon_default_weight. For the icon_default_type, simply pass the name of the icon (without the fa-). For weight, pass only the letter corresponding to the desired icon weight:

         Solid - s
         Brands - b
         Regular - r
         Light - l (Pro Only)
         Duotone - d (Pro Only)
         
      Visit the Font Awesome Library to view the full Font Awesome icon library.

      NIAID's Office of Communications and Government Relations (OCGR) has a Font Awesome Pro license that may be used under certain circumstances. If you have a need for Font Awesome Pro, please contact OCGR and request access. If you have already received access and are looking for documentation on upgrading from Font Awesome Free, please see our Using Font Awesome Pro with NDS (NPM) guide.

   Parameters:
      icon_default_classes: Additional <i> tag classes.
      icon_default_type: Font Awesome icon name.
      icon_default_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
      icon_default_sr_text: Optional text for screen readers only.
      icon_default_attributes: Additional icon attributes.

   Last Updated: March 9, 2021
#}

{% set icon_default_classes = icon_default_classes|default() %}
{% set icon_default_type = icon_default_type|default() %}
{% set icon_default_weight = icon_default_weight|default() %}
{% set icon_default_sr_text = icon_default_sr_text|default() %}
{% set icon_default_attributes = icon_default_attributes|default() %}

<i class="icon-nds icon--default fa{{ icon_default_weight }} fa-{{ icon_default_type }} {{ icon_default_classes }}" {{ icon_default_attributes }}></i>
{% if icon_default_sr_text is not empty %}<span class="sr-only">{{ icon_default_sr_text }}</span>{% endif %}