{#
    ---
    title: Footer
    ---
    The footer of the website that includes navigational links.
#}

{% set global_footer_classes = global_footer_classes|default() %}
{% set global_footer_logo_src = global_footer_logo_src|default('global/niaid/logo-niaid-white.svg') %}
{% set global_footer_logo_alt = global_footer_logo_alt|default('NIAID Logo') %}

{% set global_footer_column_left = global_footer_column_left|default('col-md-4') %}
{% set global_footer_column_middle = global_footer_column_middle|default('col-md-4') %}
{% set global_footer_column_right = global_footer_column_right|default('col-md-4') %}

{% set global_footer_content_left = block('global_footer_content_left') %}
{% set global_footer_content_middle = block('global_footer_content_middle') %}
{% set global_footer_content_right = block('global_footer_content_right') %}
{% set global_footer_prefooter_content = block('global_footer_prefooter_content') %}

<footer id="footer" class="global-nds global--footer container-fluid {{ global_footer_classes }}">
    {% if global_footer_prefooter_content|trim is not empty %}
        <div class="global--footer__prefooter row">
            {{ global_footer_prefooter_content|raw }}
        </div>
    {% endif %}
    <div class="global--footer__content row">
        {% if global_footer_content_left|trim is not empty %}
            <div class="global--footer__content__column {{ global_footer_column_left }}">
                {{ global_footer_content_left|raw }}
            </div>
        {% endif %}
        {% if global_footer_content_left|trim is not empty %}
            <div class="global--footer__content__column {{ global_footer_column_middle }}">
                {{ global_footer_content_middle|raw }}
            </div>
        {% endif %}
        {% if global_footer_content_left|trim is not empty %}
            <div class="global--footer__content__column {{ global_footer_column_right }}">
                {{ global_footer_content_right|raw }}
            </div>
        {% endif %}
    </div>
    {% block global_footer_tagline %}  
        <div class="global--footer__tagline">
            <p>
                {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
                    {
                        "icon_default_type": "bolt",
                        "icon_default_weight": "s"
                    }
                %}
                <span>Powered by the <a href="https://designsystem.niaid.nih.gov/">NIAID Design System</a></span>
            </p>
        </div>
    {% endblock %}
</footer>