{% set builder_controls_accordion_classes = builder_controls_accordion_classes|default() %}
{% set builder_controls_accordion_id = builder_controls_accordion_id|default() %}
{% set builder_controls_accordion_title = builder_controls_accordion_title|default() %}

<div class="builder-pl builder--controls-accordion {{ builder_controls_accordion_classes }}">
    <button class="builder--controls-accordion__button" type="button" data-toggle="collapse" data-target="#{{ builder_controls_accordion_id }}" aria-expanded="true" aria-controls="{{ builder_controls_accordion_id }}">
        <h2 class="builder--controls-accordion__button__title">{{ builder_controls_accordion_title }}</h2>
        <div class="builder--controls-accordion__button__arrow">
            <div class="builder--controls-accordion__button__arrow__icon"></div>
        </div>
    </button>
    <div class="builder--controls-accordion__content collapse show" id="{{ builder_controls_accordion_id }}">
        {% block build_controls_control %}{% endblock %}
    </div>
</div>