{#
    ---
    title: Document Button
    ---

    Type: Atoms -> Buttons

    Description:
        Document icons can help users more quickly identify document types. This component leverages the brand colors for each document type and applies them to the appropriate Font Awesome document icon.

        Use the "button_document_type" parameter to choose a type as follows:

            Word - "file-word"
            Excel - "file-excel"
            PowerPoint - "file-ppt"
            PDF - "file-pdf"
            Image - "image"
            Video - "video"

        This component can also be used as a static <div>. To use this pattern simply as a decorative element, omit the document_button_href attribute.

    Parameters:
        button_document_classes: Additional document button classes.
        button_document_id: Button ID.
        button_document_type: Type of document button. Options: file-word, file-excel, file-ppt, file-pdf, image, video.
        button_document_href: Button link destination.
        button_document_icon_weight: Font Awesome icon weight. Options: 'r' (Default), 's', 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        button_document_attributes: Additional button attributes.

    Last Updated: January 22, 2021
#}

{% set button_document_classes = button_document_classes|default() %}
{% set button_document_id = button_document_id|default() %}
{% set button_document_type = button_document_type|default() %}
{% set button_document_href = button_document_href|default() %}
{% set button_document_icon_weight = button_document_icon_weight|default('r') %}
{% set button_document_attributes = button_document_attributes|default() %}

<{{ button_document_href != "" ? 'a' : 'div' }} class="button-nds button--document {% if button_document_type is not empty %}button--document--{{ button_document_type }}{% endif %} {{ button_document_classes }}"{% if button_document_id is not empty %} id="{{ button_document_id }}"{% endif %}{% if button_document_href is not empty %} href="{{ button_document_href }}"{% endif %} {{ button_document_attributes }}>
    {% if button_document_type == "file-word" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "button--document__wrapper__icon button--document__wrapper__icon--word",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-word"
                }
            %}
        </div>
    {% elseif button_document_type == "file-excel" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "button--document__wrapper__icon button--document__wrapper__icon--excel",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-excel"
                }
            %}
        </div>
    {% elseif button_document_type == "file-ppt" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "button--document__wrapper__icon button--document__wrapper__icon--powerpoint",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-powerpoint"
                }
            %}
        </div>
    {% elseif button_document_type == "file-pdf" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "button--document__wrapper__icon button--document__wrapper__icon--pdf",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-pdf"
                }
            %}
        </div>
    {% elseif button_document_type == "video" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-video"
                }
            %}
        </div>
    {% elseif button_document_type == "image" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-image"
                }
            %}
        </div>
    {% elseif button_document_type == "application" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "icon--default--application",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "desktop-alt"
                }
            %}
        </div>
    {% elseif button_document_type == "link" %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "external-link-square"
                }
            %}
        </div>
    {% else %}
        <div class="button--document__wrapper">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
                {
                    "icon_default_classes": "",
                    "icon_default_weight": button_document_icon_weight,
                    "icon_default_type": "file-alt"
                }
            %}
        </div>
    {% endif %}
</{{ button_document_href != "" ? 'a' : 'div' }}>