{#
    ---
    title: Navigation Dropdown
    ---

    Type: Molecules -> Navigation

    Description:
        The Navigation Dropdown component is used with the Primary Navigation component to offer an improved navigation experience. The dropdown can be used either as a click-to-open or hover-to-open component. Use the hover-to-open option when the site section itself has its own page (as opposed to simply being a label of the child content).

    Dependencies:
        In order to use this component, you must include the following libraries in addition to the NDS Global JS:
            - jQuery

    Blocks:
        {% block navigation_dropdown_content %}: The block holding the dropdown link options These links should be plain with only a text label and href value.

    Parameters:
        navigation_dropdown_classes: Additional classes for the navigation component.
        navigation_dropdown_id: Navigation component ID.
        navigation_dropdown_toggle_href: Optional URL for the dropdown toggle button. Passing a value to this parameter will automatically make the dropdown hover-activated.
        navigation_dropdown_toggle_text: The text to appear on the dropdown button.
        navigation_dropdown_toggle_aria_label: Required ARIA label to explain the section to be opened/closed.
        navigation_dropdown_active_class: Optional class used in the primary navigation component to signal that the current dropdown is selected.

    Last Updated: March 1, 2021
#}

{% set navigation_dropdown_classes = navigation_dropdown_classes|default() %}
{% set navigation_dropdown_id = navigation_dropdown_id|default() %}
{% set navigation_dropdown_toggle_href = navigation_dropdown_toggle_href|default() %}
{% set navigation_dropdown_toggle_text = navigation_dropdown_toggle_text|default() %}
{% set navigation_dropdown_toggle_aria_label = navigation_dropdown_toggle_aria_label|default() %}
{% set navigation_dropdown_active_class = navigation_dropdown_active_class|default() %}

{% if navigation_dropdown_toggle_href is not empty %}
    {% set navigation_dropdown_classes = navigation_dropdown_classes ~ ' hover' %}
{% endif %}

<div class="navigation-nds navigation--dropdown {{ navigation_dropdown_classes }}">
    <{{ navigation_dropdown_toggle_href != "" ? 'a' : 'button' }}{% if navigation_dropdown_toggle_href is not empty %} href="{{ navigation_dropdown_toggle_href }}"{% endif %} id="{{ navigation_dropdown_id }}" type="button" class="navigation--dropdown__toggle {{ navigation_dropdown_active_class }}" aria-haspopup="true" aria-expanded="false" aria-label="{{ navigation_dropdown_toggle_aria_label }}" data-display="static">{{ navigation_dropdown_toggle_text }}</{{ navigation_dropdown_toggle_href != "" ? 'a' : 'button' }}>
    <div class="navigation--dropdown__menu" aria-labelledby="{{ navigation_dropdown_id }}">
        {% block navigation_dropdown_content %}{% endblock %}
    </div>
</div>