{#
    ---
    title: External Button
    ---

    Type: Atoms -> Buttons

    Description:
        Used specifically for links to external sites displayed as a button.

    Parameters:
        button_external_classes: Additional button classes.
        button_external_id: Button ID.
        button_external_text: Button text.
        button_external_href: Button link destination.
        button_external_icon: Font Awesome icon name (Default: external-link-alt).
        button_external_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        button_external_attributes: Additional button attributes.

    Last Updated: January 22, 2021
#}

{% set button_external_classes = button_external_classes|default() %}
{% set button_external_id = button_external_id|default() %}
{% set button_external_text = button_external_text|default() %}
{% set button_external_href = button_external_href|default() %}
{% set button_external_icon = button_external_icon|default('external-link-alt') %}
{% set button_external_icon_weight = button_external_icon_weight|default('s') %}
{% set button_external_attributes = button_external_attributes|default() %}

<{{ button_external_href != "" ? 'a' : 'button' }}{% if button_external_id is not empty %} id="{{ button_external_id }}"{% endif %} class="button-nds button--external waves-effect waves-light {{ button_external_classes }}" href="{{ button_external_href }}" {{ button_external_attributes }}>
    <span>{{ button_external_text }}</span>
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
        {
            "icon_default_type": button_external_icon,
            "icon_default_weight": button_external_icon_weight
        }
    %}
</{{ button_external_href != "" ? 'a' : 'button' }}>