    <!-- build:remove -->
    {{ patternLabFoot | raw }}
    <!-- endbuild -->
  
    {% if jsIncludes.jquery %}<script src="{{ jsPath }}libraries/jquery/jquery.min.js"></script>{% endif %}
    {% if jsIncludes.select2 %}<script src="{{ jsPath }}libraries/select2/select2.full.min.js"></script>{% endif %}
    {% if jsIncludes.materialize %}<script src="{{ jsPath }}libraries/materialize/materialize.min.js"></script>{% endif %}
    {% if jsIncludes.bootstrap %}<script src="{{ jsPath }}libraries/bootstrap/bootstrap.bundle.min.js"></script>{% endif %}
    {% if jsIncludes.dataTables %}<script src="{{ jsPath }}libraries/datatables/datatables.min.js"></script>{% endif %}
    {% if jsIncludes.dateTimePicker %}<script src="{{ jsPath }}libraries/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>{% endif %}
    {% if jsIncludes.stickybits %}<script src="{{ jsPath }}libraries/stickybits/stickybits.min.js"></script>{% endif %}
    {% if jsIncludes.modernizr %}<script src="{{ jsPath }}libraries/modernizr/modernizr.min.js"></script>{% endif %}
    <script src="{{ jsPath }}nds-min.js"></script>
  </body>
</html>
