{#
    ---
    title: Search Result Block
    ---

    Type: Molecules -> Blocks

    Description:
        The Search Result pattern can be used to display a set of results returned by your search engine. NDS also provides special styling for document-based results.

    Blocks:
        {% block blocks_search_result_description %}: The description of the search result.
    
    Parameters:
        blocks_search_result_classes: Additional block classes.
        blocks_search_result_id: Block ID.
        blocks_search_result_title: Search result title.
        blocks_search_result_href: Search result target destination URL.
        blocks_search_result_document_type: The type of document the search result pertains to, if applicable.
        blocks_search_result_document_metadata: Optional metadata corresponding to the document result.
        blocks_search_result_date_last_reviewed: Optional date last reviewed of the search result content.

    Last Updated: April 29, 2021
#}

{% set blocks_search_result_classes = blocks_search_result_classes|default() %}
{% set blocks_search_result_id = blocks_search_result_id|default() %}
{% set blocks_search_result_title = blocks_search_result_title|default() %}
{% set blocks_search_result_href = blocks_search_result_href|default() %}
{% set blocks_search_result_document_type = blocks_search_result_document_type|default() %}
{% set blocks_search_result_document_metadata = blocks_search_result_document_metadata|default() %}
{% set blocks_search_result_description = block('blocks_search_result_description') %}
{% set blocks_search_result_date_last_reviewed = blocks_search_result_date_last_reviewed|default() %}

<div class="block-nds block--search-result {{ blocks_search_result_classes }}"{% if blocks_search_result_id is not empty %} id="{{ blocks_search_result_id }}"{% endif %}>
    <div class="block--search-result__top">
        {% if blocks_search_result_document_type is not empty %}
            <div class="block--search-result__top__icon">
                {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                    {
                        "icon_document_type": blocks_search_result_document_type,
                        "icon_document_href": blocks_search_result_href
                    }
                %}
            </div>
        {% endif %}
        <div class="block--search-result__top__text">
            <h2 class="block--search-result__top__text__title"><a href="{{ blocks_search_result_href }}">{{ blocks_search_result_title }}</a></h2>
            <div class="block--search-result__top__text__url">{{ blocks_search_result_href }}</div>
            {% if blocks_search_result_document_metadata is not empty %}<div class="block--search-result__top__text__metadata">{{ blocks_search_result_document_metadata }}</div>{% endif %}
        </div>
    </div>
    {% if blocks_search_result_description|trim is not empty %}
        {{ blocks_search_result_description|raw }}
    {% endif %}
    {% if blocks_search_result_date_last_reviewed is not empty %}
        <p class="block--search-result__last-reviewed">Last Reviewed: {{ blocks_search_result_date_last_reviewed }}</p>
    {% endif %}
</div>