{# TODO #}

{% set navigation_local_classes = navigation_local_classes|default() %}
{% set navigation_local_id = navigation_local_id|default() %}
{% set navigation_local_items = navigation_local_items|default() %}
{% set navigation_local_item_attributes = navigation_local_item_attributes|default() %}
{% set navigation_local_heading_text = navigation_local_heading_text|default() %}
{% set navigation_local_heading_href = navigation_local_heading_href|default() %}

{% import _self as menus %}

{% macro menu_links(items, attributes, parent_id, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% set parent_id = parent_id * 1000 %}
        <div{{ attributes.setAttribute('id', ('LN-accordion-' ~ parent_id)) }}>
            {% for item in items %}
                {% set accordion_index = parent_id + loop.index %}
                <div class="card cardlevel-{{ menu_level }}">
                    {% set classes = ['card-header', 'level-' ~ menu_level, item.in_active_trail ? 'active-trail'] %}
                    {% if item.below %}
                        {% set id = 'LN-sec-' ~ accordion_index %}
                        {% set expanded = (item.in_active_trail or item.attributes.hasClass('active-trail')) ? 'true' : 'false' %}
                        <div{{ item.attributes.addClass(classes).setAttribute('id', id).setAttribute('data-toggle', 'collapse').setAttribute('data-target', '#LN-clps-' ~ accordion_index).setAttribute('aria-expanded', expanded ).setAttribute('aria-label', 'Open ' ~ item.title ~ ' Menu' ).setAttribute('aria-controls', 'LN-clps-' ~ accordion_index).setAttribute('tabindex', '0') }}>
                    {% else %}
                        <div{{ item.attributes.addClass(classes) }}>
                    {% endif %}
                        <div class="card-header-text">
                            <div class="p-card-header">
                                {% if item.url|raw|striptags|trim is not empty %}
                                    <a href="{{ item.url }}" onclick="event.stopPropagation();">{{ item.title }}</a>
                                {% else %}
                                    <p {% if item.below %}class="cursor-pointer"{% endif %}>{{ item.title }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if item.below %}
                            <div class="card-header-button">
                                <div class="arrow">
                                    <div class="accordion-arrow"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% if item.below %}
                        </div>
                            {% set show = (item.in_active_trail or item.attributes.hasClass('active-trail')) ? 'show' %}
                            <div id="LN-clps-{{ accordion_index }}" class="collapse {{ show }}" aria-labelledby="LN-sec-{{ accordion_index }}" data-parent="#LN-accordion-{{ parent_id }}">
                                <div class="card-body">
                                    {{ menus.menu_links(item.below, attributes, accordion_index, (menu_level + 1)) }}
                                </div>
                            </div>
                    {% else %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

<div class="navigation-nds navigation--local {{ navigation_local_classes }}" id="{{ navigation_local_id }}">
    {% if navigation_local_heading_text is not empty %}
        <h2 class="navigation--local__title">{% if navigation_local_heading_href is not empty %}<a href="{{ navigation_local_heading_href }}">{% endif %}{{ navigation_local_heading_text }}{% if navigation_local_heading_href is not empty %}</a>{% endif %}</h2>
        <hr>
    {% endif %}
    {{ menus.menu_links(navigation_local_items, navigation_local_item_attributes, 1, 0) }}
</div>
