{#
    ---
    title: Main Layout
    ---

    Type: Atoms -> Layout

    Description:
        The Main Layout component defines the major sections of an NDS page. The component provides three main columns: left, main, and right.

        The Main Layout component is generally embedded within the {% block main %} block of the Site Layout pattern. The main layout pattern has three possible columns for content but using all three is not required.

    Blocks:
        {% block left_column %}: The content for the left column.
        {% block main_column %}: The content for the main column.
        {% block right_column %}: The content for the right column.

    Parameters:
        layouts_main_classes: Additional layout classes.
        layouts_main_id: Layout ID.
        layouts_main_left: The number of columns (based on Bootstrap) for the left column. Options: "1" through "12".
        layouts_main_main: The number of columns (based on Bootstrap) for the main column. Options: "1" through "12".
        layouts_main_right: The number of columns (based on Bootstrap) for the right column. Options: "1" through "12".
        layouts_main_breakpoint: The Bootstrap breakpoint for the layout columns. Options: "sm", "md", "lg" (Default), "xl".

    Last Updated: June 18, 2021
#}

{% set layouts_main_classes = layouts_main_classes|default() %}
{% set layouts_main_id = layouts_main_id|default() %}
{% set layouts_main_left = layouts_main_left|default(3) %}
{% set layouts_main_main = layouts_main_main|default(9) %}
{% set layouts_main_right = layouts_main_right|default(3) %}
{% set layouts_main_breakpoint = layouts_main_breakpoint|default('lg') %}

{% if block('left_column')|trim == "" && block('right_column')|trim != "" %}
    {% set layouts_main_classes = layouts_main_classes ~ "layouts--main--no-left" %}
{% elseif block('left_column')|trim != "" && block('right_column')|trim == "" %}
    {% set layouts_main_classes = layouts_main_classes ~ "layouts--main--no-right" %}
{% endif %}

<div class="layouts-nds layouts--main {{ layouts_main_classes }}"{% if layouts_main_id is not empty %} id="{{ layouts_main_id }}"{% endif %}>
    {% if block('left_column')|trim != "" %}
        <div class="layouts--main__column layouts--main__first col{% if layouts_main_breakpoint is not empty %}-{{ layouts_main_breakpoint }}{% endif %}{% if layouts_main_left is not empty %}-{{ layouts_main_left }}{% endif %}">
            {% block left_column %}{% endblock %}
        </div>
    {% endif %}
    {% if block('main_column')|trim != "" %}
        <div class="layouts--main__column layouts--main__second col{% if layouts_main_breakpoint is not empty %}-{{ layouts_main_breakpoint }}{% endif %}{% if layouts_main_main is not empty %}-{{ layouts_main_main }}{% endif %}">
            {% block main_column %}{% endblock %}
        </div>
    {% endif %}
    {% if block('right_column')|trim != "" %}
        <div class="layouts--main__column layouts--main__third col{% if layouts_main_breakpoint is not empty %}-{{ layouts_main_breakpoint }}{% endif %}{% if layouts_main_right is not empty %}-{{ layouts_main_right }}{% endif %}">
            {% block right_column %}{% endblock %}
        </div>
    {% endif %}
</div>