{#
    ---
    title: Primary Drawer
    ---

    Type: Molecules -> Navigation

    Description:
        Primary navigation is used to move between the major sections of your website. NDS recommends including primary navigation directly below the header of your site for easiest access.

        Although it is possible to use the NDS out of the box component for Priary Navigation, it is likely you will need to replicate the pattern for your particular site due to the unique nature of different websites. To make your own custom pattern, simply copy the navigation-primary component from inside the 00-nds/ directory, and paste it into your 02-molecules/ directory. Then you can freely make changes to the component without altering the original NDS component.

        You will need to supply the primary navigation pattern with content using the "navigation_primary_content" block. You can pass links or dropdown markup, using the proper NDS structure and classes. Reference the demo pattern to see examples of links and dropdowns with the proper structure and classes.

    Blocks:
        {% block navigation_primary_content %}: The block holding the navigation markup.

    Parameters:
        navigation_primary_classes: Additional classes for the navigation component.
        navigation_primary_id: Navigation component ID.

    Last Updated: January 22, 2021
#}

{% set navigation_local_classes = navigation_local_classes|default() %}
{% set navigation_local_id = navigation_local_id|default() %}
{% set navigation_local_title_text = navigation_local_title_text|default() %}
{% set navigation_local_title_href = navigation_local_title_href|default() %}

{% import _self as menus %}

{% macro menu_links(items, parent_id, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% set parent_id = parent_id * 1000 %}
        <div id="{{ 'navigation-local-accordion-' ~ parent_id }}">
            {% for item in items %}
                {% set accordion_index = parent_id + loop.index %}
                <div class="navigation--local__group navigation--local__group--level-{{ menu_level }}">
                    {% if item.below %}
                        {% set id = 'navigation-local-sec-' ~ accordion_index %}
                        {% set expanded = item.in_active_trail ? 'true' : 'false' %}
                        <div class="{{ 'navigation--local__group__label level-' ~ menu_level }}{{ item.in_active_trail ? 'active-trail' }}" id="{{ id }}" data-toggle="collapse" data-target="{{ '#navigation-local-clps-' ~ accordion_index }}" aria-expanded="{{ expanded }}" aria-label="{{ 'Open ' ~ item.text ~ ' Menu' }}" aria-controls="{{ 'navigation-local-clps-' ~ accordion_index }}" tabindex="0">
                    {% else %}
                        <div class="{{ 'navigation--local__group__label level-' ~ menu_level }}{{ item.in_active_trail ? 'active-trail' }}">
                    {% endif %}
                        <div class="navigation--local__group__label__title">
                            {# Drupal #}
                            {# {% if item.href|striptags|trim is not empty %}
                                {{ link(item.text, item.href, {'onclick' : ['event.stopPropagation();']}) }}
                            {% else %}
                                <p {% if item.below %}class="cursor-pointer"{% endif %}>{{ item.text }}</p>
                            {% endif %} #}

                            {# Static #}
                            {% if item.href is not empty %}
                                <a href="{{ item.href }}" onclick="event.stopPropagation();">{{ item.text }}</a>
                            {% else %}
                                <p {% if item.below %}class="cursor-pointer"{% endif %}>{{ item.text }}</p>
                            {% endif %}
                        </div>
                        {% if item.below %}
                            <div class="navigation--local__group__label__button">
                                <div class="navigation--local__group__label__button__arrow"></div>
                            </div>
                        {% endif %}
                    {% if item.below %}
                        </div>
                            {% set show = item.in_active_trail ? 'show' : "" %}
                            <div id="navigation-local-clps-{{ accordion_index }}" class="collapse {{ show }}" aria-labelledby="navigation-local-sec-{{ accordion_index }}" data-parent="#navigation-local-accordion-{{ parent_id }}">
                                {{ menus.menu_links(item.below, accordion_index, (menu_level + 1)) }}
                            </div>
                    {% else %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

<div class="navigation-nds navigation--local {{ navigation_local_classes }}" id="{{ navigation_local_id }}">
    {% if navigation_local_title_text is not empty %}
        <h2 class="navigation--local__title">{% if navigation_local_title_href is not empty %}<a href="{{ navigation_local_title_href }}">{% endif %}{{ navigation_local_title_text }}{% if navigation_local_title_href is not empty %}</a>{% endif %}</h2>
        <hr>
    {% endif %}
    {{ menus.menu_links(navigation_local_items, 1, 0) }}
</div>
