{#
    ---
    title: Featured Content Card Block
    ---

    Type: Molecules -> Blocks

    Description:
        Featured Content Cards are useful blocks designed to highlight your most important content. Each feature includes a title, an image, and a short description of the content.

    Parameters:
        block_featured_content_card_classes: Additional block classes.
        block_featured_content_card_id: Block ID.
        block_featured_content_card_src: The path to the featured image.
        block_featured_content_card_alt: Alt text for the featured image.
        block_featured_content_card_title: Title of the featured card.
        block_featured_content_card_title_link: Optional URL for the linked title.
        block_featured_content_card_description: Featured card description.
        block_featured_content_card_featured: Optional text that appears above the title (ex. FEATURED).

    Includes:
        Atoms -> Images -> image-default

    Last Updated: January 22, 2021
#}

{% set block_featured_content_card_classes = block_featured_content_card_classes|default() %}
{% set block_featured_content_card_id = block_featured_content_card_id|default() %}
{% set block_featured_content_card_src = block_featured_content_card_src|default() %}
{% set block_featured_content_card_alt = block_featured_content_card_alt|default() %}
{% set block_featured_content_card_title = block_featured_content_card_title|default() %}
{% set block_featured_content_card_title_link = block_featured_content_card_title_link|default() %}
{% set block_featured_content_card_description = block_featured_content_card_description|default() %}
{% set block_featured_content_card_featured = block_featured_content_card_featured|default() %}

<div class="block-nds block--featured-content-card {{ block_featured_content_card_classes }}"{% if block_featured_content_card_id is not empty %} id="{{ block_featured_content_card_id }}"{% endif %}>
    <div class="block--featured-content-card__image">
        {% block featured_content_card_image %}
            {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_default_src": block_featured_content_card_src,
                    "image_default_alt": block_featured_content_card_alt
                }
            %}
        {% endblock %}
    </div>
    <div class="block--featured-content-card__text">
        {% block featured_content_card_content %}
            {% if block_featured_content_card_title is not empty %}
                {% if block_featured_content_card_featured is not empty %}
                    <span class="block--featured-content-card__text__featured">{{ block_featured_content_card_featured }}</span>
                {% endif %}
                <h2 class="block--featured-content-card__text__title">
                    {% if block_featured_content_card_title_link is not empty %}<a href="{{ block_featured_content_card_title_link }}">{% endif %}
                    {{ block_featured_content_card_title }}
                    {% if block_featured_content_card_title_link is not empty %}</a>{% endif %}
                </h2>
            {% endif %}
            {% if block_featured_content_card_description is not empty %}
                <p class="block--featured-content-card__text__description">{{ block_featured_content_card_description }}</p>
            {% endif %}
        {% endblock %}
    </div>
</div>