{% set component_snippet_classes = component_snippet_classes|default() %}
{% set component_snippet_name = component_snippet_name|default() %}
{% set component_snippet_code = block('component_snippet_code') %}
{% set component_snippet_code_alternate_render = block('component_snippet_code_alternate_render') %}
{% set component_snippet_pattern_info = block('component_snippet_pattern_info') %}
{% set component_snippet_show_rendered = component_snippet_show_rendered|default('yes') %}

<div class="component-nds component--snippet {{ component_snippet_classes }} {% if component_snippet_show_rendered == 'no' %}no-render{% endif %}">
    <div class="component--snippet__block">
        <div class="component--snippet__block__code">
            {% if component_snippet_show_rendered == 'yes' %}
                {% if component_snippet_code_alternate_render|trim is not empty %}
                    <div class="component--snippet__block__code__rendered">
                        {{ component_snippet_code_alternate_render|raw }}
                    </div>
                {% else %}
                    <div class="component--snippet__block__code__rendered">
                        {{ component_snippet_code|raw }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="component--snippet__block__code__loader">
                {% include "@nds/01-atoms/icons/icon-loader/_icon-loader-main.twig" with
                    {
                        "icon_loader_size": "small"
                    }
                %}
            </div>
            <div class="component--snippet__block__code__wrapper">
                <div class="component--snippet__block__code__wrapper__snippet">
                    {{ component_snippet_code|raw }}
                </div>
                <div class="component--snippet__block__code__wrapper__button">
                    <div class="component--snippet__block__code__wrapper__button__copied">Copied!</div>
                    {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                        {
                            "button_icon_classes": "component--snippet__block__code__wrapper__button__copy",
                            "button_icon_icon": "clipboard-list",
                            "button_icon_text": "Copy",
                            "button_icon_attributes": "data-content=body-button-copy-" ~ component_snippet_name
                        }
                    %}
                </div>
            </div>
        </div>
        {% if component_snippet_pattern_info|trim is not empty %}
            <div class="component--snippet__block__pattern">
                <button class="component--snippet__block__pattern__toggle" data-content="accordion-{{ component_snippet_name }}"><strong>Pattern Lab Information</strong>
                    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
                        {
                            "icon_default_type": "chevron-right",
                            "icon_default_weight": "r"
                        }
                    %}
                </button>
                <div class="component--snippet__block__pattern__content">
                    {{ component_snippet_pattern_info|raw }}
                </div>
            </div>
        {% endif %}
    </div>
</div>