{#
    ---
    title: Accordion
    ---
    A component that shows content headers and allows users to click to expand content underneath each header. Often used as a form of local navigation. This pattern is not yet complete.

    Parameters: accordion_data - The JSON object that contains the tree of local navigation.
#}

{% set component_local_navigation_classes = component_local_navigation_classes|default() %}
{% set component_local_navigation_id = component_local_navigation_id|default() %}
{% set component_local_navigation_level_2_text = component_local_navigation_level_2_text|default() %}
{% set component_local_navigation_level_2_href = component_local_navigation_level_2_href|default() %}

{% import _self as menus %}

{#
{% macro menu_links(items, attributes, parent_id, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% set parent_id = parent_id * 1000 %}
        <div{{ attributes.setAttribute('id', ('LN-accordion-' ~ parent_id)) }}>
            {% for item in items %}
                {% set accordion_index = parent_id + loop.index %}
                <div class="card cardlevel-{{ menu_level }}">
                    {% set classes = ['card-header', 'level-' ~ menu_level, item.in_active_trail ? 'active-trail'] %}
                    {% if item.below %}
                        {% set id = 'LN-sec-' ~ accordion_index %}
                        {% set expanded = (item.in_active_trail or item.attributes.hasClass('active-trail')) ? 'true' : 'false' %}
                        <div{{ item.attributes.addClass(classes).setAttribute('id', id).setAttribute('data-toggle', 'collapse').setAttribute('data-target', '#LN-clps-' ~ accordion_index).setAttribute('aria-expanded', expanded ).setAttribute('aria-label', 'Open ' ~ item.title ~ ' Menu' ).setAttribute('aria-controls', 'LN-clps-' ~ accordion_index).setAttribute('tabindex', '0') }}>
                    {% else %}
                        <div{{ item.attributes.addClass(classes) }}>
                    {% endif %}
                        <div class="card-header-text d-inline-flex">
                            <div class="p-card-header">
                                {% if item.url|render|striptags|trim is not empty %}
                                    {{ link(item.title, item.url, {'onclick' : ['event.stopPropagation();']}) }}
                                {% else %}
                                    <p {% if item.below %}class="cursor-pointer"{% endif %}>{{ item.title }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if item.below %}
                            <div class="card-header-button">
                                <div class="arrow">
                                    <div class="accordion-arrow"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% if item.below %}
                        </div>
                            {% set show = (item.in_active_trail or item.attributes.hasClass('active-trail')) ? 'show' %}
                            <div id="LN-clps-{{ accordion_index }}" class="collapse {{ show }}" aria-labelledby="LN-sec-{{ accordion_index }}" data-parent="#LN-accordion-{{ parent_id }}">
                                <div class="card-body">
                                    {{ menus.menu_links(item.below, attributes, accordion_index, (menu_level + 1)) }}
                                </div>
                            </div>
                    {% else %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

<div class="component-nds component--local-navigation-accordion {{ component_local_navigation_classes }}" id="{{ component_local_navigation_id }}">
    {% if component_local_navigation_level_2_text is not empty %}
        <h2 class="component--local-navigation-accordion__title">{% if component_local_navigation_level_2_href is not empty %}<a href="{{ component_local_navigation_level_2_href }}">{% endif %}{{ component_local_navigation_level_2_text }}{% if component_local_navigation_level_2_href is not empty %}</a>{% endif %}</h2>
        <hr>
    {% endif %}
    {{ menus.menu_links(component_local_navigation_items, component_local_navigation_attributes, 1, 0) }}
</div>#}
