{% set media_audio_id = media_audio_id|default() %}
{% set media_audio_classes = media_audio_classes|default() %}
{% set media_audio_ogg_src = media_audio_ogg_src|default() %}
{% set media_audio_mp3_src = media_audio_mp3_src|default() %}
{% set media_audio_wav_src = media_audio_wav_src|default() %}

<div class="media-nds media--audio {{ media_audio_classes }}">
    <audio {% if media_audio_id is not empty %} id="{{ media_audio_id }}"{% endif %} controls>
        {% if media_audio_ogg_src is not empty %}<source src="{{ media_audio_ogg_src }}" type="audio/ogg">{% endif %}
        {% if media_audio_mp3_src is not empty %}<source src="{{ media_audio_mp3_src }}" type="audio/mpeg">{% endif %}
        {% if media_audio_wav_src is not empty %}<source src="{{ media_audio_wav_src }}" type="audio/wav">{% endif %}
        Your browser does not support the audio tag.
    </audio>
</div>