{#
    ---
    title: Icon Button
    ---

    Type: Atoms -> Buttons

    Description:
        This component allows for a small image such as a user picture, to be included inside a button.

    Parameters:
        button_image_classes: Additional button classes.
        button_image_id: Button ID.
        button_image_href: Button link destination.
        button_image_text: Button text.
        button_image_src: The path to the image.
        button_image_alt: Alt text to describe the image.
        button_image_attributes: Additional button attributes.

    Last Updated: February 9, 2021
#}

{% set button_image_classes = button_image_classes|default() %}
{% set button_image_id = button_image_id|default() %}
{% set button_image_href = button_image_href|default() %}
{% set button_image_text = button_image_text|default() %}
{% set button_image_src = button_image_src|default() %}
{% set button_image_alt = button_image_alt|default() %}
{% set button_image_attributes = button_image_attributes|default() %}

<{{ button_image_href != "" ? 'a' : 'button' }} class="button-nds button--image {{ button_image_classes }}"{% if button_image_id is not empty %} id="{{ button_image_id }}"{% endif %}{% if button_image_href != "" %} href="{{ button_image_href }}"{% endif %} {{ button_image_attributes|raw }}>
    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
        {
            "image_default_src": button_image_src,
            "image_default_alt": button_image_alt
        }
    %}
    {% if button_image_text is not empty %}
        <span class="button--image__text">{{ button_image_text }}</span>
    {% endif %}
</{{ button_image_href != "" ? 'a' : 'button' }}>