{#
    ---
    title: Share Button
    ---

    Type: Atoms -> Buttons

    Description:
        Share Buttons are useful for sharing site content to social media platforms. NDS provides buttons for several platforms and utilizes proper platform brand colors.

    Parameters:
        button_share_classes: Additional button classes.
        button_share_id: Button ID.
        button_share_type: The classes to define the type of social media platform. Supported Options: "facebook", "twitter", "linkedin", "instagram", "youtube", "pinterest", "flickr", "google-plus", "govdelivery", "generic". If using the "generic" type, you must manually specify a "button_share_icon".
        button_share_icon_weight: Font Awesome icon weight Options: 'r', 's' (Default for Non-Social Media Platform Icons), 'b' (Default for Social Media Platforms).
        button_share_href: Button link destination.
        button_share_aria_label: Button aria-label.
        button_share_tabindex: Button tabindex.
        button_share_attributes: Additional button attributes.
        button_share_govdelivery_img_src: The path to the GovDelivery icon. Default: The globally available GovDelivery icon.

    Last Updated: October 19, 2021
#}

{% set button_share_classes = button_share_classes|default() %}
{% set button_share_id = button_share_id|default() %}
{% set button_share_type = button_share_type|default('default') %}
{% set button_share_icon_weight = button_share_icon_weight|default('s') %}
{% set button_share_href = button_share_href|default() %}
{% set button_share_aria_label = button_share_aria_label|default() %}
{% set button_share_tabindex = button_share_tabindex|default() %}
{% set button_share_attributes = button_share_attributes|default() %}
{% set button_share_govdelivery_img_src = button_share_govdelivery_img_src|default('global/icons/icon-gov-delivery.svg') %}

{% if button_share_type == "facebook" %}
    {% set button_share_icon = "facebook-f" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "twitter" %}
    {% set button_share_icon = "twitter" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "linkedin" %}
    {% set button_share_icon = "linkedin-in" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "instagram" %}
    {% set button_share_icon = "instagram" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "youtube" %}
    {% set button_share_icon = "youtube" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "pinterest" %}
    {% set button_share_icon = "pinterest-p" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "flickr" %}
    {% set button_share_icon = "flickr" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "google-plus" %}
    {% set button_share_icon = "google-plus-g" %}
    {% set button_share_icon_weight = "b" %}
{% elseif button_share_type == "govdelivery" %}
    {% set button_share_icon = "" %}
    {% set button_share_icon_weight = "" %}
{% else %}
    {% set button_share_type = "generic" %}
{% endif %}

<a href="{{ button_share_href }}" {% if button_share_id is not empty %} id="{{ button_share_id }}"{% endif %} class="button-nds button--share button--share--{{ button_share_type }} {{ button_share_classes }}"{% if button_share_aria_label is not empty %} aria-label="{{ button_share_aria_label }}"{% endif %}{% if button_share_tabindex is not empty %} tabindex="{{ button_share_tabindex }}"{% endif %} {{ button_share_attributes|raw }}>
    {% if button_share_type != "govdelivery" %}
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": button_share_icon,
                "icon_default_weight": button_share_icon_weight
            }
        %}
    {% else %}
        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_src": button_share_govdelivery_img_src,
                "image_default_alt": 'GovDelivery Icon'
            }
        %}
    {% endif %}
</a>