{% set button_icon_classes = button_icon_classes|default() %}
{% set button_icon_icon = button_icon_icon|default() %}
{% set button_icon_icon_weight = button_icon_icon_weight|default('l') %}
{% set button_icon_icon_position = button_icon_icon_position|default('left') %}
{% set button_icon_text = button_icon_text|default() %}
{% set button_icon_id = button_icon_id|default() %}
{% set button_icon_attributes = button_icon_attributes|default() %}
{% set button_icon_label = button_icon_label|default() %}
{% set button_icon_href = button_icon_href|default() %}

<{{ button_icon_href != "" ? 'a' : 'button' }}{% if button_icon_href is not empty %} href="{{ button_icon_href }}"{% endif %}{% if button_icon_id is not empty %} id="{{ button_icon_id }}"{% endif %} class="button-nds button--icon waves-effect waves-light {{ button_icon_classes }}"{% if button_icon_label is not empty %} aria-label="{{ button_icon_label }}"{% endif %} {{ button_icon_attributes }}>
    {% if button_icon_icon_position != "right" %}
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": button_icon_icon,
                "icon_default_weight": button_icon_icon_weight
            }
        %}
    {% endif %}
    {% if button_icon_text is not empty %}
        <span class="button--icon__text icon--{{ button_icon_icon_position }}">{{ button_icon_text }}</span>
    {% endif %}
    {% if button_icon_icon_position != "left" %}
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": button_icon_icon,
                "icon_default_weight": button_icon_icon_weight
            }
        %}
    {% endif %}
</{{ button_icon_href != "" ? 'a' : 'button' }}>