        {% if prodBuild != "true" %}
            <!-- Pattern Lab Footer -->
            {{ patternLabFoot | raw }}
        {% endif %}

        <script src="{{ jsPath }}custom/stickybits.min.js"></script>
        <script src="{{ jsPath }}custom/matchMedia.js"></script>

        {% if jsIncludes.jquery %}<script src="{{ jsPath }}libraries/jquery/jquery.min.js"></script>{% endif %}
        {% if jsIncludes.select2 %}<script src="{{ jsPath }}libraries/select2/select2.full.min.js"></script>{% endif %}
        {% if jsIncludes.materialize %}<script src="{{ jsPath }}libraries/materialize/materialize.min.js"></script>{% endif %}
        {% if jsIncludes.bootstrap %}<script src="{{ jsPath }}libraries/bootstrap/bootstrap.bundle.min.js"></script>{% endif %}
        {% if jsIncludes.dataTables %}<script src="{{ jsPath }}libraries/datatables/datatables.min.js"></script>{% endif %}
        {% if jsIncludes.dateTimePicker %}<script src="{{ jsPath }}libraries/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>{% endif %}
        <script src="{{ jsPath }}custom/jquery.cookie.js"></script>
        <script src="{{ jsPath }}custom/prism/prism.js" data-manual></script>
        <script src="{{ jsPath }}custom/prism/prism-normalize-whitespace.min.js"></script>
        <script src="{{ jsPath }}global/nds-min.js"></script>
    </body>
</html>