{#
    ---
    title: Media YouTube Video
    ---

    Type: Atoms -> Media

    Description:
        This components makes it easy to embed YouTube videos on your website.

        The "media_video_youtube_src" parameter requires a specific embed URL from YouTube (not to be confused with the regular URL to the video page). To get this embed link, go to the YouTube page you would like to embed. Click "Share" below the video, then "Embed". The needed URL is found as the value for the "src" attribute in the displayed embed code.

    Parameters:
        media_video_youtube_classes: Additional media element classes.
        media_video_youtube_id: ID for the video wrapper.
        media_video_youtube_title: The title attribute for the video.
        media_video_youtube_src: The embed URL from YouTube.
        media_video_youtube_height: Desired height of the video.
        media_video_youtube_width: Desired width of the video.
        media_video_youtube_attributes: Additional attributes on the <iframe>.

    Last Updated: January 22, 2021
#}

{% set media_video_youtube_classes = media_video_youtube_classes|default() %}
{% set media_video_youtube_id = media_video_youtube_id|default() %}
{% set media_video_youtube_title = media_video_youtube_title|default() %}
{% set media_video_youtube_src = media_video_youtube_src|default() %}
{% set media_video_youtube_height = media_video_youtube_height|default() %}
{% set media_video_youtube_width = media_video_youtube_width|default() %}
{% set media_video_youtube_attributes = media_video_youtube_attributes|default() %}

<div class="media-nds media--video-youtube {{ media_video_youtube_classes }}"{% if media_video_youtube_id is not empty %} id="{{ media_video_youtube_id }}"{% endif %}>
    <iframe class="media--video-youtube__iframe" allowfullscreen="" frameborder="0" height="{{ media_video_youtube_height }}" width="{{ media_video_youtube_width }}" src="{{ media_video_youtube_src }}" title="{{ media_video_youtube_title }}" {{ media_video_youtube_attributes }}></iframe>
</div>