{#
    ---
    title: Listing View
    ---

    Type: Organisms -> Views

    Description:
        The Listing View is a very versatile component that allows users to present sets of content. For instance, search results are the perfect use case for this component. The Listing View optionally supports a heading and a "See All" button following the display.

    Blocks:
        {% block view_listing_heading %}: The block containing the list view heading.
        {% block view_listing_content %}: The block containing the list view content.
        {% block view_listing_button %}: The block containing the optional list view button.

    Parameters:
        view_listing_classes: Additional classes for view wrapper.
        view_listing_id: ID for the view.
        view_listing_data: An array of default block objects. Structure: { "content": "" }. The "content" should be an HTML string.
        view_listing_heading: Heading text to label the view listing.
        view_listing_heading_level: Heading level for the view listing header. Default: "2".
        view_listing_button_text: Text to appear on an optional button at the end of the view.
        view_listing_button_href: URL destination for an optional button at the end of the view.

    Includes:
        Molecules -> Blocks -> block-default
        Atoms -> Buttons -> button-default

    Last Updated: January 22, 2021
#}


{% set view_listing_classes = view_listing_classes|default() %}
{% set view_listing_id = view_listing_id|default() %}
{% set view_listing_data = view_listing_data|default() %}
{% set view_listing_heading = view_listing_heading|default() %}
{% set view_listing_heading_level = view_listing_heading_level|default('2') %}
{% set view_listing_button_text = view_listing_button_text|default() %}
{% set view_listing_button_href = view_listing_button_href|default() %}

<div class="view-nds view--listing {{ view_listing_classes }}"{% if view_listing_id is not empty %} id="{{ view_listing_id }}"{% endif %}>
    {% block view_listing_heading %}
        {% if view_listing_heading is not empty %}
            <h{{ view_listing_heading_level }} class="view--listing__heading">{{ view_listing_heading }}</h{{ view_listing_heading_level }}>
        {% endif %}
    {% endblock %}
    <div class="view--listing__blocks">
        {% block view_listing_content %}
            {% for listing in view_listing_data %}
                {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
                    {% block block_content %}
                        {{ listing.content|raw }}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        {% endblock %}
    </div>
    {% block view_listing_button %}
        {% if view_listing_button_text is not empty %}
            <div class="view--listing__button-wrapper">
                {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                    {
                        "button_default_classes": "view--listing__button-wrapper__button",
                        "button_default_type": "primary",
                        "button_default_label": view_listing_button_text,
                        "button_default_href": view_listing_button_href
                    }
                %}
            </div>
        {% endif %}
    {% endblock %}
</div>