{#
    ---
    title: Chip
    ---

    Type: Atoms -> Text

    Description:
        Chips are functional indicators of search and filter results. NDS uses a search style which displays selected filters as chips, allowing users to see exactly which terms they have searched and filtered on. Selecting the 'x' in the chip removes the term from the search.

    Parameters:
        text_chip_classes: Additional chip classes.
        text_chip_id: Chip ID.
        text_chip_text: Chip text.
        text_chip_href: A URL that, when navigated to, removes the chip from the filter list.
        text_chip_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).

    Includes:
        Atoms -> Icons -> icon-default

    Last Updated: January 22, 2021
#}

{% set text_chip_classes = text_chip_classes|default() %}
{% set text_chip_id = text_chip_id|default() %}
{% set text_chip_text = text_chip_text|default() %}
{% set text_chip_href = text_chip_href|default() %}
{% set text_chip_icon_weight = text_chip_icon_weight|default('s') %}

<div class="text-nds text--chip {{ text_chip_classes }}"{% if text_chip_id is not empty %} id="{{ text_chip_id }}"{% endif %}>{{ text_chip_text }}<a aria-label="Remove {{ text_chip_text }} Facet" href="{{ text_chip_href }}">
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
        {
            "icon_default_type": "times",
            "icon_default_weight": text_chip_icon_weight
        }
    %}
</a></div>