{% set layouts_main_layout_classes = layouts_main_layout_classes|default() %}
{% set layouts_main_layout_id = layouts_main_layout_id|default() %}
{% set layouts_main_layout_left = layouts_main_layout_left|default(3) %}
{% set layouts_main_layout_main = layouts_main_layout_main|default(9) %}
{% set layouts_main_layout_right = layouts_main_layout_right|default(3) %}
{% set layouts_main_layout_breakpoint = layouts_main_layout_breakpoint|default('lg') %}

{% set layouts_main_layout_left_column = block("left_column") %}
{% set layouts_main_layout_main_column = block("main_column") %}
{% set layouts_main_layout_right_column = block("right_column") %}

{% set left_additional_classes = "" %}
{% set main_additional_classes = "" %}
{% set right_additional_classes = "" %}

{% if layouts_main_layout_id == "builder__main-layout" %}
    {% set left_additional_classes = "col-lg-4" %}
    {% set main_additional_classes = "col-lg-8" %}
{% endif %}

<div class="layouts-nds layouts--main-layout {{ layouts_main_layout_classes }}"{% if layouts_main_layout_id is not empty %} id="{{ layouts_main_layout_id }}"{% endif %}>
    {% if layouts_main_layout_left_column|trim is not empty %}
        <div class="layouts--main-layout__column layouts--main-layout__first col{% if layouts_main_layout_breakpoint is not empty %}-{{ layouts_main_layout_breakpoint }}{% endif %}{% if layouts_main_layout_left is not empty %}-{{ layouts_main_layout_left }}{% endif %}{% if left_additional_classes is not empty %} {{ left_additional_classes }}{% endif %}">
            {{ layouts_main_layout_left_column|raw }}
        </div>
    {% endif %}
    {% if layouts_main_layout_main_column is not empty %}
        <div class="layouts--main-layout__column layouts--main-layout__second col{% if layouts_main_layout_breakpoint is not empty %}-{{ layouts_main_layout_breakpoint }}{% endif %}{% if layouts_main_layout_main is not empty %}-{{ layouts_main_layout_main }}{% endif %}{% if main_additional_classes is not empty %} {{ main_additional_classes }}{% endif %}">
            {{ layouts_main_layout_main_column|raw }}
        </div>
    {% endif %}
    {% if layouts_main_layout_right_column is not empty %}
        <div class="layouts--main-layout__column layouts--main-layout__third col{% if layouts_main_layout_breakpoint is not empty %}-{{ layouts_main_layout_breakpoint }}{% endif %}{% if layouts_main_layout_right is not empty %}-{{ layouts_main_layout_right }}{% endif %}{% if right_additional_classes is not empty %} {{ right_additional_classes }}{% endif %}">
            {{ layouts_main_layout_right_column|raw }}
        </div>
    {% endif %}
</div>