<!DOCTYPE html>
<html lang="{{ language|default('en') }}" class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    {% if metaDescription is not empty %}<meta name="description" content="{{ metaDescription }}">{% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    {% if cssIncludes.bootstrapDatepicker %}<link rel="stylesheet" href="{{ cssPath }}libraries/bootstrap-datepicker/bootstrap-datepicker.min.css" />{% endif %}
    {% if cssIncludes.select2 %}<link rel="stylesheet" href="{{ cssPath }}libraries/select2/select2.min.css" />{% endif %}

    <link rel="icon" href="{{ imagePath }}global/favicons/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="{{ cssPath }}nds-min.css" media="all" />

    <!-- build:remove -->
    <link rel="stylesheet" href="{{ cssPath }}libraries/pattern-lab/pattern-scaffolding.css" media="all" />
    {{ patternLabHead | raw }}
    <!-- endbuild -->
    
  </head>
  <body class="{{ bodyClass }}">